<%# 
Banner at the top with messages

The main idea is to have the board as in the template
but in the middle is a space in which buttons for user actions can appear\
    - the spaces would have their color, text, user_pieces, and ownership customized
        - including where the border is placed
    - but their placement and shape would be by default

with info panels for the different players
    - cheat with a little bit of javascript for going between the tabs
        - and/or collapse/expand
%>

<% sorted_spaces = @game.get_sorted_spaces %>
<% side_length = sorted_spaces.count/4 + 1 %>

<% scale_factor = 40.0/sorted_spaces.count %>

<% dice=["dice-six-faces-one.svg", "dice-six-faces-two.svg", "dice-six-faces-three.svg", "dice-six-faces-four.svg", "dice-six-faces-five.svg", "dice-six-faces-six.svg"] %>

<div class="game_container">
    <div class="board_container">
        <table border="3" cellspacing="0" cellpadding="3" style="text-align:center;font:normal 8pt/9pt arial;width:90vh;border-collapse:separate; background-color:#F0FFF0;">
            <tbody>
                <% display_spaces = @game.get_placement_spaces %>
                <% count = 1 %>
                <% total = display_spaces.count %>
                <% side_length = (1 + total/4) %>

                <tr>
                    <%= render partial: "spaces/display_space_cell", locals: {game: @game, gs: display_spaces[count-1], border_side: "bottom", size_style: "height:12vh;width:12vh;"} %>
                    <% count += 1 %>
                    <% (side_length-2).times do %>
                        <%= render partial: "spaces/display_space_cell", locals: {game: @game, gs: display_spaces[count-1], border_side: "bottom", size_style: ""} %>
                        <% count += 1 %>
                    <% end %>
                    <%= render partial: "spaces/display_space_cell", locals: {game: @game, gs: display_spaces[count-1], border_side: "bottom", size_style: "height:12vh;width:12vh;"} %>
                    <% count += 1 %>
                </tr>

                <tr>
                    <%= render partial: "spaces/display_space_cell", locals: {game: @game, gs: display_spaces[count-1], border_side: "right", size_style: "height:6.5vh;"} %>
                    <% count += 1 %>

                    <td colspan="<%= side_length-2 %>" rowspan="<%= side_length-2 %>">
                        <% if flash[:results] then %>
                            <%# flash[:results] %>
                            <% flash[:results].each do |result| %>
                                <% if result.has_key?("first_roll") %>
                                    <%= inline_svg_tag dice[result["first_roll"]-1], class: 'dice' %>
                                <% end %>

                                <% if result.has_key?("second_roll") %>
                                    <%= inline_svg_tag dice[result["second_roll"]-1], class: 'dice' %>
                                <% end %>

                                <% if result.has_key?("space") then %>
                                    <div class="space_landed">
                                        Player Landed On: <%= result["space"] %>
                                    </div>
                                <% end %>

                                <% if result.has_key?("card") %>
                                    <div class="card_drawn">
                                        Player drew card: <%= result["card"] %>
                                    </div>
                                <% end %>         

                                <% if result.has_key?("loser") %>
                                    <div class="loser">
                                        <%= result["loser"] %>
                                    </div>
                                <% end %>

                                <% if result.has_key?("rent") %>
                                    <div class="rent">
                                        <%= result["rent"] %>
                                    </div>
                                <% end %>

                                <% if result.has_key?("message") %>
                                    <div class="message">
                                        <%= result["message"] %>
                                    </div>
                                <% end %>

                                <% if result.has_key?("actions") %>
                                    <div class = "actions">
                                        <% result["actions"].each do |action| %>
                                            <%= button_to action["text"], game_action_path(@game), params: {inner: action["params"], method_name: action["method_name"]} %>
                                        <% end %>
                                    </div>
                                <% end %>

                                <% if result.has_key?("sell") %>
                                    <div class = "actions">
                                        <%= render partial: "selling", locals: {player_game: @current_player_game} %>
                                        <%= button_to "End the Turn", game_action_path(@game), params: {inner: {}, method_name: "end_the_turn"} %>
                                    </div>
                                <% end %>
                            <% end %>  
                        <% else %>
                            <div class="current_player">
                                Your Turn, <%= @current_player_game.player.player_name %>
                            </div>
                            <br/>
                            <%= button_to "Roll Dice", roll_dice_path(@game) %>
                        <% end %>
                    </td>
                    <%= render partial: "spaces/display_space_cell", locals: {game: @game, gs: display_spaces[count-1], border_side: "left", size_style: "height:6.5vh;"} %>
                    <% count += 1 %>
                </tr>

                <% (side_length-3).times do %>
                <tr>
                    <%= render partial: "spaces/display_space_cell", locals: {game: @game, gs: display_spaces[count-1], border_side: "right", size_style: "height:6.5vh;"} %>
                    <% count += 1 %>
                    <%= render partial: "spaces/display_space_cell", locals: {game: @game, gs: display_spaces[count-1], border_side: "left", size_style: "height:6.5vh;"} %>
                    <% count += 1 %>
                </tr>
                <% end %>

                <tr>
                    <%= render partial: "spaces/display_space_cell", locals: {game: @game, gs: display_spaces[count-1], border_side: "top", size_style: "height:12vh;width:12vh;"} %>
                    <% count += 1 %>
                    <% (side_length-2).times do %>
                        <%= render partial: "spaces/display_space_cell", locals: {game: @game, gs: display_spaces[count-1], border_side: "top", size_style: ""} %>
                        <% count += 1 %>
                    <% end %>
                    <%= render partial: "spaces/display_space_cell", locals: {game: @game, gs: display_spaces[count-1], border_side: "top", size_style: "height:12vh;width:12vh;"} %>
                    <% count += 1 %>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="player_container">
        <p>
            <%= @game.turn_count %> out of <%= Game::TURN_LIMIT %>
        </p>

        <% @game.sorted_player_games.each do |pg| %>
            <div class="distinct" style="border-left: 20px solid <%= pg.color %>;<%= pg.has_conceded ? "opacity: 0.2;" : "" %><%= pg.is_current_turn ? "color:purple;" : "" %>">
                <div class="individual_player_container">
                    <div>
                        <%= pg.player.player_name %>
                        <br />
                        $<%= pg.money %>
                        <br />
                        <% if pg.in_jail_rolls_remaining > 0 %>
                            In Jail! (<%= pg.in_jail_rolls_remaining %> turns remaining)
                        <% end %>
                    </div>
                    <div>
                        <% pg.player.properties.filter do |prop|
                            prop.game_id == @game.id
                        end.each do |prop| %>
                            <div><%= prop.space.space_name %> RENT: <%= prop.space.rent_level1 %></div>
                        <% end %>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
</div>

<div class="attribution">
    Dice Icons by Delapouite under <a href="https://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>
</div>