<%# 
Banner at the top with messages

The main idea is to have the board as in the template
but in the middle is a space in which buttons for user actions can appear\
    - the spaces would have their color, text, user_pieces, and ownership customized
        - including where the border is placed
    - but their placement and shape would be by default

with info panels for the different players
    - cheat with a little bit of javascript for going between the tabs
        - and/or collapse/expand
%>

<% sorted_spaces = @game.get_sorted_spaces %>
<% side_length = sorted_spaces.count/4 + 1 %>

<% scale_factor = 40.0/sorted_spaces.count %>

<div class="game_container">
    <div class="board_container">
        <table border="3" cellspacing="0" cellpadding="3" style="text-align:center;font:normal 8pt/9pt arial;width:90vh;border-collapse:separate; background-color:#F0FFF0;">
            <tbody>
                <% display_spaces = @game.get_placement_spaces %>
                <% count = 1 %>
                <% total = display_spaces.count %>
                <% side_length = (1 + total/4) %>

                <tr>
                    <%= render partial: "spaces/display_space_cell", locals: {game: @game, gs: display_spaces[count-1], border_side: "bottom", size_style: "height:12vh;width:12vh;"} %>
                    <% count += 1 %>
                    <% (side_length-2).times do %>
                        <%= render partial: "spaces/display_space_cell", locals: {game: @game, gs: display_spaces[count-1], border_side: "bottom", size_style: ""} %>
                        <% count += 1 %>
                    <% end %>
                    <%= render partial: "spaces/display_space_cell", locals: {game: @game, gs: display_spaces[count-1], border_side: "bottom", size_style: "height:12vh;width:12vh;"} %>
                    <% count += 1 %>
                </tr>

                <tr>
                    <%= render partial: "spaces/display_space_cell", locals: {game: @game, gs: display_spaces[count-1], border_side: "right", size_style: "height:6.5vh;"} %>
                    <% count += 1 %>
                    <td colspan="<%= side_length-2 %>" rowspan="<%= side_length-2 %>">                    
                        <%= button_to "Roll Dice", roll_dice_path(@game) %>
                    </td>
                    <%= render partial: "spaces/display_space_cell", locals: {game: @game, gs: display_spaces[count-1], border_side: "left", size_style: "height:6.5vh;"} %>
                    <% count += 1 %>
                </tr>

                <% (side_length-3).times do %>
                <tr>
                    <%= render partial: "spaces/display_space_cell", locals: {game: @game, gs: display_spaces[count-1], border_side: "right", size_style: "height:6.5vh;"} %>
                    <% count += 1 %>
                    <%= render partial: "spaces/display_space_cell", locals: {game: @game, gs: display_spaces[count-1], border_side: "left", size_style: "height:6.5vh;"} %>
                    <% count += 1 %>
                </tr>
                <% end %>

                <tr>
                    <%= render partial: "spaces/display_space_cell", locals: {game: @game, gs: display_spaces[count-1], border_side: "top", size_style: "height:12vh;width:12vh;"} %>
                    <% count += 1 %>
                    <% (side_length-2).times do %>
                        <%= render partial: "spaces/display_space_cell", locals: {game: @game, gs: display_spaces[count-1], border_side: "top", size_style: ""} %>
                        <% count += 1 %>
                    <% end %>
                    <%= render partial: "spaces/display_space_cell", locals: {game: @game, gs: display_spaces[count-1], border_side: "top", size_style: "height:12vh;width:12vh;"} %>
                    <% count += 1 %>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="player_container">
        <p>
            <%= @game.turn_count %> out of <%= Game::TURN_LIMIT %>
        </p>

        <% @game.sorted_player_games.each do |pg| %>
            <p class = "distinct">
                <% if pg.is_current_turn %>
                CURRENT TURN
                <br />
                <% end %>
                <% if pg.has_conceded %>
                OUT OF THE GAME
                <% end %>
                <%= pg.player.player_name %>
                <br />
                <%= pg.turn_order %>
                <br />
                $<%= pg.money %>
                <br />
                <%= pg.current_position%>
            </p>
        <% end %>
    </div>
</div>