<h1>Players</h1>

<%=form_for @player do |f|%>
    <%=f.label :player_name%>
    <%=f.text_field :player_name%>
    <%=f.submit%>

<%end%> 


<%@players.top_players.each_with_index do |tp,index|%>
    <p>
    <b>Rank: <%=index + 1%></b>
    <%=link_to tp.player_name, player_path(tp)%>
    <small>wins: <%=tp.player_wins%></small>
    </p>
<%end%>

